*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
p{
  font-size: 15px;
  font-weight: 300;
  font-family: Arial;

}
/* ================= la partie chattez avec nous ========================*/
main{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.chat-bas{
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 20px;
  z-index: 10;
}
.row-1, .row1-div2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.row-1{
  padding: 20px 0px;
}
.row1-div1{
  height: 40px;
  width: 210px;
  border: 2px solid rgba(0, 72, 234,0.8);
  border-radius: 15px;
  text-align: center;
  line-height: 40px;
}
.row1-div1 .main{
  width: 20px;
}
/*======================= l'effet sur le bouton ============================*/
.row1-div2, .row1-div2-c{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-items: center;
  background: linear-gradient(135deg, rgb(0, 72, 234), rgb(28, 226, 255));;
  margin-left: 10px;
  box-shadow: rgb(22 84 83) 0px 2px 16px 0px;
  color: white;
  cursor: pointer;
  transition: transform .6s ease-in-out;
}
.row1-div2 i{
  line-height: 20px;
  font-size: 20px;
  z-index: 3;
  cursor: pointer;
}
.row1-div2-c i{
  position: absolute;
  top: 35px;
  left: 25px;
  line-height: 20px;
  font-size: 20px;
  cursor: pointer;
}
.row1-div2-c.click{
  background: white;
  color: rgb(0, 72, 234);
}
.row1-div2::before{
  position: absolute;
  content: '';
  border-radius: 50%;
  height: 25px;
  width: 25px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  transform: scale(1.5);
}
.row1-div2:hover{
  color: rgb(0, 72, 234);
}
.row1-div2:hover::before{
  background: white;
  transform: scale(2.2);
}

/*========================= la chat box ==============================*/
.chat-box{
  position: absolute;
  bottom:  10px!important;
  right: 70px;
  width: 350px;
  height: 620px;
  border-radius: 20px;
  border:  2px solid rgba(0, 72, 234,0.8);
  overflow: hidden;
  z-index: 5;
  animation: deplacement 0.6s forwards;
  background-color: white;
}
@keyframes deplacement {
  to{
    right: 45px;
  }
}
.bg-modifier{
  background: linear-gradient(135deg, rgb(0, 72, 234), rgb(28, 226, 255));
}
.avatar{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-image: url("../assets/richy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1px;
  box-shadow: rgb(0,0,0) 0px 3px 16px 0px;
  transition: all 0.6s ease-in-out;
}
.avatar:hover{
  transform: scale(1.1);
}
.btn-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  transition: all 0.4s ease-in-out;
}
.btn-top i{
  line-height: 35px;
}
.btn-top:hover{
  background: rgb(0, 72, 234);
  box-shadow: rgb(0,0,0) 0px 2px 16px 0px;

}
.text-petit{
  font-size: 15px;
}
.img-courbe{
  position: absolute;
  bottom: -15px;
  left: 0px;
  z-index: 100;
}
.text{
  font-size: 16px;
  font-weight: initial;
  margin-left: 2px;
}
.fa-circle{
  font-size: 8px;
  margin-right: 3px;
}
#overflow{
  height: 350px;
  overflow-y: scroll;
  padding: 10px 3px;
  scrollbar-color: rgb(0, 72, 234) transparent;
  scrollbar-width: thin;
  background: white;
}
#overflow::-webkit-scrollbar {
  width: 5px;
}
#overflow::-webkit-scrollbar-thumb {
  background:rgb(0, 72, 234);
  border-radius: 8px;
}
#overflow::-webkit-scrollbar-track {
  background: transparent;
}
.texte-du-chat-gris,.texte-du-chat-blue{
  border-radius: 20px;
  font-size: 15px;
  padding: 10px 16px;
  margin: 0px 20px 3px 20px;
  font-family: Arial;
  width: fit-content;
  position: relative;
  font-weight: 500;
}
.texte-du-chat-gris{
  max-width: 90%;
  background: rgba(205,204,213,0.5);
  color: black;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-self: start;
}
.texte-du-chat-blue{
  max-width: 90%;
  background: linear-gradient(135deg, rgb(0, 72, 234), rgb(28, 226, 255));
  color: white;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-self: end;
}
.texte-du-chat-gris mat-list{
  font-size: 13px;
}
.heure, .heure1{
  font-size: 0.7rem;
}
.heure1{
  border-radius: 8px;
  background-color:rgba(205,204,213,0.4);
  text-align: center;
  display: flex;
  align-self: center;
  padding: 5px;
}
.heure{
  position: absolute;
  bottom: 0px;
  right: 5px;
}
.input{
  border-radius: 5px;
  width: 100%;
  border: none;
  color: rgba(205,204,213,1);
}
/*================================ trait de l'input saisissez =====================*/
.trait{
  position: absolute;
  top: -7px;
  left: 15px;
  width: 299px;
  height: 2px;
  background: rgb(204,201,206);
}
.saisissez{
  position: absolute;
  left: 16px;
  top: -6px;
  width: 90%;
  height: 50px;
  padding: 10px 0px 10px 0px;
  border: none;
}
.saisissez.erreur{
  transition: all 1s ease-in-out;
  animation: vertical 0.2s infinite;
}
@keyframes vertical {
  0%{
    left: 16px;
  }
  50%{
    left: 25px;
  }
  100%{
    left: 16px;
  }

}
.saisissez::placeholder{
  font-size: 15px;
}
.marge{
  margin-top: 30px;
  padding: 10px 10px 20px 10px;
}

.font{
  font-size: 20px;
  margin-left: 10px;
}
.font-1{
  margin-left: -13px;
  transform: rotate(140deg);
}
.favicon{
  height: 20px;
  width: 20px;
  object-fit: cover;
}
.footer-text{
  color: rgb(146,143,148);
  font-size: 12px;
}
.richy{
  color: black;
  font-weight: bolder;
}


/*================================ Les petits bouttons =====================*/

.dots {
  list-style: none;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 0px 0px 0px;
  flex-direction: row;
}

.dots div {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin: 0 3px;
  background-color: #ababab;
  --webkit-animation: bounce 1s infinite alternate;
  --moz-animation: bounce 1s infinite alternate;
  --o-animation: bounce 1s infinite alternate;
  animation: bounce 0.6s infinite alternate;
}

@-webkit-keyframes bounce {
  to {
    opacity: .2;
    transform: translateY(-10px);
  }
}

@-moz-keyframes bounce {
  to {
    opacity: .2;
    transform: translateY(-10px);
  }
}

@-o-keyframes bounce {
  to {
    opacity: .2;
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  to {
    opacity: .2;
    transform: translateY(-10px);
  }
}

.dots div:nth-child(2) {
  animation-delay: 250ms;
}

.dots div:nth-child(3) {
  animation-delay: .5s;
}
.p-text{
  font-size: 12px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .chat-box {
    position: absolute;
    bottom: 20px !important;
    left:  0px;
    width: 300px;
    height: 80vh;
    animation: deplace 0.6s forwards;
  }
  @keyframes deplace {
    to {
      left: 10px;
    }
  }
  .chat-bas{
    right: -10px;
  }
  p.m-2, .text-petit, .text, .saisissez::placeholder,.texte-du-chat-gris,.texte-du-chat-blue {
    font-size: 12px;
  }
  .img-courbe{
    top: 45px;
  }
  .marge{
    margin-top: 10px;
    padding: 25px 10px 3px 30px;
  }
  .trait{
    top: -8px;
    left: 7px;
    width: 270px;
  }
  .bg-modifier {
    padding: 5px;
  }
  .texte-du-chat-gris,.texte-du-chat-blue{
    padding: 5px 8px;
  }
}
.footer-text{
  margin-left: 10px;
}
@media (min-width: 321px) and (max-width: 375px) {
  .chat-box{
    left: 0px;
    animation: deplacer 0.6s forwards;
  }
  .footer-text{
    margin-left: 30px;
  }
  @keyframes deplacer {
    to {
      left: 45px;
    }
  }
}
@media (min-width: 376px) and (max-width: 767px) {
  .chat-box{
    left: 0px;
    animation: deplacer 0.6s forwards;
  }
  .footer-text{
    margin-left: 38px;
  }
  @keyframes deplacer {
    to {
      left: 93px;
    }
  }
}
