*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
/* ================= la partie chattez avec nous ========================*/
main{
  height: 100vh;
  width: 100vw;
  background: black;
  font-family: "Space Grotesk", sans-serif;
}
.chat-bas{
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 20px;
  z-index: 10;
  font-size: 16px;
}
.row-1, .row1-div2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.row-1{
  padding: 20px 0px;
}
.row1-div1{
  height: 40px;
  width: 210px;
  border: 2px solid rgba(0, 34, 147,0.8);
  border-radius: 15px;
  text-align: center;
  line-height: 40px;
}
.row1-div1 .main{
  width: 20px;
}
/*======================= l'effet sur le bouton ============================*/
.row1-div2, .row1-div2-c{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-items: center;
  background: linear-gradient(135deg, rgb(0, 34, 147), rgb(28, 226, 255));;
  margin-left: 10px;
  box-shadow: rgb(22 84 83) 0px 2px 16px 0px;
  color: white;
  cursor: pointer;
  transition: transform .6s ease-in-out;
}
.row1-div2 i{
  line-height: 20px;
  font-size: 20px;
  z-index: 3;
  cursor: pointer;
}
.row1-div2-c i{
  position: absolute;
  top: 35px;
  left: 25px;
  line-height: 20px;
  font-size: 20px;
  cursor: pointer;
}
.row1-div2-c.click{
  background: white;
  color: rgb(0, 34, 147);
}
.row1-div2::before{
  position: absolute;
  content: '';
  border-radius: 50%;
  height: 25px;
  width: 25px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  transform: scale(1.5);
}
.row1-div2:hover{
  color: rgb(0, 34, 147);
}
.row1-div2:hover::before{
  background: white;
  transform: scale(2.2);
}

/*========================= la chat box ==============================*/
.chat-box{
  position: absolute;
  bottom:  10px!important;
  right: 70px;
  width: 350px;
  box-shadow: 0 0 5px white;
  border-radius: 20px;
  border:  2px solid rgba(0, 34, 147,0.8);
  overflow: hidden;
  z-index: 5;
  animation: deplacement 0.6s forwards;
  background-color: white;
}
@keyframes deplacement {
  to{
    right: 45px;
  }
}
.bg-modifier{
  background: linear-gradient(135deg,rgb(0, 34, 147), rgb(28, 226, 255));
}
.avatar{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 1px;
  transition: all 0.6s ease-in-out;
}
.avatar:hover{
  transform: scale(1.1);
}
.avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  transition: all 0.4s ease-in-out;
}
.btn-top i{
  line-height: 35px;
}
.btn-top:hover{
  background: rgb(0, 34, 147);
  box-shadow: rgb(0,0,0) 0px 2px 16px 0px;

}
.text-petit{
  font-size: 15px;
}
.img-courbe{
  position: absolute;
  bottom: -15px;
  left: 0px;
  z-index: 100;
}
.text{
  font-size: 18px;
  font-weight: initial;
  margin-left: 2px;
}
.fa-circle{
  font-size: 8px;
  margin-right: 3px;
}
#overflow{
  height: 350px;
  overflow-y: scroll;
  padding: 10px 3px;
  scrollbar-color: rgb(0, 34, 147) transparent;
  scrollbar-width: thin;
  background: white;
}
#overflow::-webkit-scrollbar {
  width: 5px;
}
#overflow::-webkit-scrollbar-thumb {
  background:rgb(0, 34, 147);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
#overflow::-webkit-scrollbar-track {
  background: transparent;
}
.block-message{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.texte-du-chat-gris,.texte-du-chat-blue, .gris{
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 16px;
  margin: 0px 20px 3px 20px;
  width: fit-content;
  position: relative;
  font-weight: 500;
}
.gris{
  border: 1px solid rgba(205,204,213,0.6);
  background: rgba(205,204,213,0.6);
  border-radius: unset;
}
.texte-du-chat-blue{
  max-width: 90%;
  background: linear-gradient(135deg, rgb(0, 34, 147), rgb(28, 226, 255));
  color: white;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-self: end;
}

.texte-du-chat-gris{
  background: rgba(205,204,213,0.6);
  max-width: 90%;
  color: black;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-self: start;
}

/*================================ trait de l'input saisissez =====================*/
.trait{
  position: absolute;
  top: -8px;
  left: 15px;
  width: 299px;
  height: 2px;
  background: rgb(204,201,206);
}
.saisissez{
  position: absolute;
  left: 16px;
  top: -6px;
  width: 90%;
  height: 50px;
  padding: 10px 0px 10px 0px;
  border: none;
  font-size: 14px;
}
.saisissez.erreur{
  transition: all 1s ease-in-out;
  animation: vertical 0.2s infinite;
}
@keyframes vertical {
  0%{
    left: 16px;
  }
  50%{
    left: 25px;
  }
  100%{
    left: 16px;
  }

}

.marge{
  margin-top: 30px;
  padding: 10px 10px 20px 10px;
}
#label{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.font{
  font-size: 20px;
  margin-left: 10px;
}
.font-1{
  margin-left: -13px;
  transform: rotate(140deg);
}
.favicon{
  height: 20px;
  width: 20px;
  object-fit: cover;
}
.footer-text{
  color: rgb(146,143,148);
  font-size: 12px;
}
.richy{
  color: black;
  font-weight: bolder;
}

@media (min-width: 0px) and (max-width: 767px) {

  .chat-box {
    position: absolute;
    bottom: 20px !important;
    left:  0px;
    width: 300px;
    height: auto;
    margin-right: 10px;
    animation: deplace 0.6s forwards;
  }
  @keyframes deplace {
    to {
      left: 10px;
    }
  }
  .chat-bas{
    right: -10px;
  }
.text-petit, .text, .saisissez::placeholder,.texte-du-chat-gris,.texte-du-chat-blue {
    font-size: 14px;
  }
  .img-courbe{
    top: 45px;
  }
  .marge{
    margin-top: 10px;
    padding: 25px 10px 3px 30px;
  }
  .trait{
    top: -8px;
    left: 7px;
    width: 270px;
  }
  .bg-modifier {
    padding: 5px;
  }
  .texte-du-chat-gris,.texte-du-chat-blue{
    padding: 5px 8px;
  }
}
.footer-text{
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .chat-box{
    width: 100vw;
    height: 100vh;
    max-height: 600px;
    top: 0px;
    right: 0px;
    animation: none;
  }
}
